.App {
  text-align: center;
}

.Test {
  background-color: #bac1ce;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.login-form div {
  margin: 10px;
}
